# Data Structures

Python has a couple of core Data Structures that are used very frequently.

->Lists

->Dictionaries

Dictionaries and lists are the real workhorses of Python, but there are also other Data Structers like tuples, sets, Counters, etc, that are worth exploring too.

## Lists

Lists are written within square brackets [ ]

In [1]:
# initialization methods

#1. Normal Method
thislist = ["apple", "banana", "cherry"]
print(thislist)

#2. Constructor method
thislist = list(("apple", "banana", "mango"))
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'mango']

In [2]:
# allows duplicate elements
thislist = ["apple", "banana", "cherry", "apple"]
print(thislist)

['apple', 'banana', 'cherry', 'apple']

In [3]:
# check type of an element
type(thislist)

list

In [4]:
# allows multiple datatypes
thislist = ["apple", 4, "banana", True, 152.48]
print(thislist)

['apple', 4, 'banana', True, 152.48]

In [5]:
# lenth of a list
len(thislist)

5

### Operations

In [6]:
print("Original List:", thislist)

# append operation
thislist.append("Orange")
thislist.append(False)
print("Appended List:", thislist)

# extend operation
thislist.extend([5.2, 12, "papaya"])
print("Extended List:", thislist)

# insert operation
thislist.insert(1, "papaya")
thislist.insert(4, 1)
print("Inserted List:", thislist)

Original List: ['apple', 4, 'banana', True, 152.48]
Appended List: ['apple', 4, 'banana', True, 152.48, 'Orange', False]
Extended List: ['apple', 4, 'banana', True, 152.48, 'Orange', False, 5.2, 12, 'papaya']
Inserted List: ['apple', 'papaya', 4, 'banana', 1, True, 152.48, 'Orange', False, 5.2, 12, 'papaya']

In [9]:
print("Original List:", thislist)

# remove operation
thislist.remove("papaya")
print("Element removed from List:", thislist)

Original List: ['apple', 4, 'banana', 1, True, 'Orange', False, 5.2, 12, 'papaya']
Element removed from List: ['apple', 4, 'banana', 1, True, 'Orange', False, 5.2, 12]

In [8]:
# pop operation
thislist.pop(5)
print("Pop element from List:", thislist)

Pop element from List: ['apple', 4, 'banana', 1, True, 'Orange', False, 5.2, 12, 'papaya']

In [9]:
# slice operation
thislist[2:5]

['banana', 1, True]

In [10]:
# reverse operation
thislist.reverse()
thislist

[12, 5.2, False, 'Orange', True, 1, 'banana', 4, 'apple']

In [11]:
# index operation
thislist.index('banana')

6

In [12]:
# other operations :- sort, count, max, min

li = [16,45,85,55, 45, 41]

li.sort()
print("Sorted List:", li)

n = li.count(45)
print("Count of 45 from list:", n)

# min
print("Minimum Element:", min(li))

# max
print("Maximum Element:", max(li))

Sorted List: [16, 41, 45, 45, 55, 85]
Count of 45 from list: 2
Minimum Element: 16
Maximum Element: 85

# Tuples
Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed (immutable) unlike lists (mutable).
Tuples use parentheses, whereas lists use square brackets.

## Initialize a Tuple
There are two ways to initialize an empty tuple. You can initialize an empty tuple by having () with no values in them.

In [17]:
# initialization methods

#1. Normal Method
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#2. Constructor method
thistuple = tuple(("apple", "banana", "mango"))
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'mango')

In [18]:
type(thistuple)

tuple

In [15]:
# allows duplicate elements
thistuple = ("apple", "banana", "cherry", "apple")
print(thistuple)

('apple', 'banana', 'cherry', 'apple')

In [16]:
# allows multiple datatypes
thistuple = ("apple",4, "banana", True, 152.48)
print(thistuple)

('apple', 4, 'banana', True, 152.48)

# set

In [17]:
l=[]
t=()
s=set()

In [19]:
# initialization methods

#1. Normal Method
thisset = {"apple", "banana", "cherry"}
print(thisset)

#2. Constructor method
thisset = set(("apple", "banana", "mango"))
print(thisset)

{'apple', 'banana', 'cherry'}
{'apple', 'mango', 'banana'}

In [20]:
type(thisset)

set

In [21]:
# allows multiple datatypes
thisset = {"apple",4, "banana", True, 152.48}
print(thisset)

{True, 'apple', 'banana', 4, 152.48}

### Operations

In [23]:
s1 = set((1,2,3))

# add operation
s1.add(4)
print(s1) # 1,2,3,4

#update operation
s1.update([1,3,5,7])
print(s1) # 1,2,3,4,5,7

# from multiple data types at once
s1.update([2,4,6],{5,6,7,8,9})
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# remove operation
s1.remove(8)
print(s1)

# discard operation
s1.discard(5)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 6, 7, 9}

In [23]:
# diiference between discard and remove in set
try:
    s1.remove(10)
    print(s1)
except KeyError as e:
    print("KeyError raised....")

try:
    s1.discard(10)
    print(s1)
except KeyError as e:
    print("KeyError raised....")

KeyError raised....
{1, 2, 3, 4, 6, 7, 9}

In [24]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# union operation
print("----Union----")
print(A|B)
print(A.union(B)) # 1,2,3,4,5,6,7,8

# intersection operation
print("----Intersection----")
print(A&B)
print(A.intersection(B)) # 4,5

# difference operation
print("----Difference----")
print(A-B)
print(A.difference(B)) # 1,2,3

----Union----
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
----Intersection----
{4, 5}
{4, 5}
----Difference----
{1, 2, 3}
{1, 2, 3}

# Dictionary

Dictionaries are unordered data structures that map keys into values. The value can be anything (lists, functions, strings, anything). The key has to be immutable, for example, numbers, strings or tuples.

Example
dictionary: word we look up is key, look up is definition (value)

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
thisdict["brand"]

'Ford'

In [27]:
# Duplicates are not allowed

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'colors': ['red', 'white', 'blue']}

In [28]:
len(thisdict)

4

In [29]:
type(thisdict)

dict

In [30]:
# updating value

thisdict["colors"] = "blue"
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'colors': 'blue'}

In [31]:
# delete an element

del thisdict["year"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'colors': 'blue'}

In [32]:
# getting all keys from dictonary

thisdict.keys()

dict_keys(['brand', 'model', 'colors'])

In [33]:
# getting all values from dictonary

thisdict.values()

dict_values(['Ford', 'Mustang', 'blue'])

In [34]:
# getting key value pair

thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('colors', 'blue')])

In [35]:
# Delete all elements in the dictionary
thisdict.clear()
print(thisdict)

{}

# Map

In [40]:
def addition(n):
    return n + n

# We double all numbers using map()
numbers = [1, 2, 3, 4,4]
result = set(map(addition, numbers))
print(result)

{8, 2, 4, 6}